* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html,
body {
  height: 100%;
}
.noData {
  width: 65%;
  margin: 0 auto;
}
.noData img {
  width: 100%;
}

/*external*/

.datatable {
  height: 600px;
  padding: 20px;
}
.datatable .datatableTitle {
  width: 100%;
  font-size: 24px;
  color: gray;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.datatable .datatableTitle .link {
  text-decoration: none;
  color: green;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid green;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.datatable .cellWithImg {
  display: flex;
  align-items: center;
}
.datatable .cellWithImg .cellImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}
.datatable .cellWithStatus {
  padding: 5px;
  border-radius: 5px;
}
.datatable .cellWithStatus.Medicated {
  background-color: rgba(0, 128, 0, 0.05);
  color: green;
}
.datatable .cellWithStatus.specialized {
  background-color: rgba(0, 128, 0, 0.05);
  color: green;
}
.datatable .cellWithStatus.On-CheckUp {
  background-color: rgba(255, 217, 0, 0.05);
  color: goldenrod;
}
.datatable .cellWithStatus.Not-Medicated {
  background-color: rgba(255, 0, 0, 0.05);
  color: crimson;
}
.datatable .cellWithStatus.not-specialized {
  background-color: rgba(255, 0, 0, 0.05);
  color: crimson;
}
.datatable .cellAction {
  display: flex;
  align-items: center;
  gap: 15px;
}
.datatable .cellAction .viewButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: darkblue;
  border: 1px dotted rgba(0, 0, 139, 0.596);
  cursor: pointer;
}
.datatable .cellAction .deleteButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: crimson;
  border: 1px dotted rgba(220, 20, 60, 0.6);
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  #root {
    position: relative !important;
    width: 100%;
    height: 100vh;
    overflow-x: hidden !important;
  }

  .Hero_hero__right__title__T0Lpd h1 {
    font-size: 2rem !important;
    font-weight: 500;
  }

  .Hero_hero__TTGIc {
    flex-direction: column;
  }
  body {
    /* overflow-x: hidden !important; */
    /* width: 100vh; */
    height: 100vh;
    /* overflow-x: hidden !important; */
    /* position: absolute; */
  }

  .Hero_hero__TTGIc {
    width: 100% !important;
    padding: 4rem 2rem !important;
  }

  .Hero_hero__left__ANzki {
    margin-top: 2rem;
  }

  .Hero_hero__left__ANzki img {
    height: auto;
    width: 100% !important;
  }

  .Features_features__\+VsRK {
    grid-template-columns: 1fr !important;
  }
  .Process_cards__7u0dj {
    grid-template-columns: 1fr !important;
  }
  .offcanvas {
    width: 30% !important;
    /* height: 100%  !important; */
  }
  .pe-5 {
    padding-right: 0px !important;
  }
  .pe-5 button {
    padding-left: 5px;
  }
  .dropdown-item {
    justify-content: start !important;
    display: flex !important;
  }
  .Login_form__C9\+rt {
    width: 80% !important;
    /* height: 200px !important; */
  }
  .PatientsDashboard_buttonsDiv__LXEwR {
    padding: 0px !important;
  }
  .PatientsDashboard_upperHeading__D9qNG {
    padding: 0px !important;
  }
  .PatientsDashboard_InputDiv__pDr-A label {
    white-space: nowrap !important;
  }

  .PatientsDashboard_upper__gLQZv .PatientsDashboard_info__vX1PT {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .PatientsDashboard_InputGroup__q4td6 {
    display: flex;
    gap: 15%;
    padding: 1.3rem 0;
    flex-direction: column;
    padding: 0px;
  }

  .PatientsDashboard_InputDiv__pDr-A {
    width: 100% !important;
  }
  .PatientsDashboard_InputGroup__q4td6 {
    padding: 0px !important;
  }
  .PatientsDashboard_upper__gLQZv {
    width: 100% !important;
    padding-top: 2rem !important;
    padding: 0px !important;
  }

  .PatientsDashboard_lower__3G4Te {
    width: 90% !important;
  }
  .PatientsDashboard_profile__75uCg {
    width: 90% !important;
  }

  .PatientsRequestedAppointments_appointmentmain__CAc6p {
    width: 90% !important;
    grid-template-columns: 1fr !important;
  }

  .PatientsMedicalRecords_appointmentmain__qwM0x {
    width: 90% !important;

    grid-template-columns: 1fr !important;
  }

  .HospitalFilter_sub__ACNbC {
    display: grid !important;
  }
  .HospitalCard_cardMain__wMf8b {
    flex-direction: column !important;
  }
  .HospitalCard_btn__xK3Vs{
    border-radius: 0px !important;
    width: 100% !important
  }
  .HospitalCard_imageDiv__6VAJJ{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Hospitals_hospitalsList__G2Nfr{
    position: absolute !important;
    width: 100% !important;
    margin: auto !important;
  }
  .Hospitals_main__kcbfc {
    padding: 0px !important;
  }

  .HospitalFilter_sub__ACNbC{
    margin-top: 2rem !important;
  }

  .Doctors_doctorsList__4mJdu {
    grid-template-columns: 1fr !important;
  }

  .ViewDoctorsWorking_main__dEFAv {
    grid-template-columns: 1fr !important;
  }

  .ViewRequestedAppointments_appointmentmain__zfDk2{
    margin:0px !important
  }

  .ViewHospitalsWorking_main__PB\+ow{
    grid-template-columns: 1fr !important;
  }

  .DoctorsBookedAppointments_appointmentmain__so8Vi {
    grid-template-columns: 1fr !important;

  }
  .UpdateImage_update-image__Vsfqu{
    margin-top: 2rem !important;
  }
  .card{
    width: 100% !important;
    cursor: pointer !important;
    height: 12rem !important;
  }
  .PatientsDashboard_buttonsDiv__LXEwR{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
  }
  .DoctorsBookedAppointments_appointmentmain__so8Vi {
    margin: 0px !important;
  }
  .Admin_home__ixuzA {
    flex-direction: column !important;
  }
  .Sidebar_sidebar__ZYyRH , .Sidebar_center__SnvsA ul{
    display: flex !important;
    min-height:0px !important;
  }
  .Sidebar_sidebar__ZYyRH {
    flex-direction: column !important;
    display: flex !important;
  }

  .Admin_home__ixuzA ,.Admin_homeContainer__xD1Gm ,.Admin_charts__3oYNy{
    flex-direction: column !important;
  }
  .Admin_widgets__EtrIY{
    flex-direction: column !important;
  }
  .Sidebar_center__SnvsA ul li div{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
     
  }
  .Sidebar_sidebar__ZYyRH .Sidebar_center__SnvsA {
    margin: auto !important;
  }
  .AdminHospital_hostpitals__Vk8zx, .AdminHospital_top__bRAtf, .AdminDoctors_doctors__yOMvq,.AdminDoctors_top__Rl5lN,.AdminPatients_patients__Wm-T5, .AdminPatients_top__eNGL7, .AdminPatientList_patient-list__fQtbz ,.AdminHospitalList_hospital-list__8pOWn ,.AdminDoctorList_doctors-list__HxeQ5 {
    flex-direction: column !important;

  }
  .css-az8st9-MuiDataGrid-root{
    overflow-x: scroll !important;
  }

  .Partners_main__GBZYB{
    gap:0px !important;
    
  }

  .Partners_main__GBZYB h1{
    font-size: 16px !important
  }
  .Process_card__uWjd0 div{
    display: flex;
    justify-content: center;
  }

  .Testimonials_testimonials-reviewcard__26H4q p{
    margin: 0px !important;
  }

.Features_content__XKKeZ {
  padding: 3rem 2rem !important;
}



  
 

}
